body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 45, 45, 0.637);
}

#form-contener{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 400px;
  background-color: rgba(65, 54, 54, 0.479);
  border-color: rgba(49, 40, 40, 0.479);
  border-width: 100px;
  border-radius: 50px;
}